{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style3.css' %}">
    <title>Online Examination System Management</title>
</head>
<body>
    <div class="container">
        <header>
            <h1>Online Examination System Management</h1>
            <nav>
                <ul>
                    <li><a href="admin">Panel</a></li>
                    <li><a href="leaderboard">Leaderboard</a></li>
                    <li><a href="logout">Log Out</a></li>
                </ul>
            </nav>
        </header>
        <main>
            <form action="../settheory_question" method="post">
                {% csrf_token %}
                <label for="year">Year:</label>
                <select name="year">  
                    {% for i in x %}
                        <option value="{{i.id}}">{{i.year}}</option>  
                    {% endfor %}
                </select>
                <label for="semester">Semester:</label>
                <select name="semester">  
                    {% for j in a %}
                        <option value="{{j.id}}">{{j.semester}}</option>  
                    {% endfor %}
                </select>
                <label for="course">Course ID:</label>
                <select name="course">
                    {% for k in b %}   
                        <option value="{{k.id}}">{{k.course_code}},{{k.course_name}}</option>  
                    {% endfor %}
                </select>
                <br>
                <label for="question">Question:</label>
                <textarea id="question" name="question"></textarea>
                <br>
                <label for="answer">Answer:</label>
                <textarea id="answer" name="answer"></textarea>
                <br>
                <label for="mark">Mark:</label>
                <textarea id="mark" name="mark"></textarea>
                <!--<br>
                <label for="question_b">Question B:</label>
                <textarea id="question_b" name="question_b"></textarea>
                <br>
                <label for="answer_b">Answer B:</label>
                <textarea id="answer_b" name="answer_b"></textarea>
                <br>
                <label for="mark_b">Mark B:</label>
                <textarea id="mark_b" name="mark_b"></textarea>
                <br>-->
                <input type="submit" value="Save">
                <div class="controls">  
                    <button type="button" class="Clear-button">
                        <a href="Clear">Clear</a>
                    </button> 
                    <button type="button" class="Clear-button">
                        <a href="set_exam">Set Exam</a>
                    </button>  
                </div>  
            </form>  
        </main>  
    </div>  
</body>  
</html>