{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Submission Successful</title>
    <link rel="stylesheet" href="{% static 'style1.css' %}">
</head>
<body>
    <div class="container">
        <header>
            <h1>Online Examination System Management</h1>
            <nav>
                <ul>
                    <li><a href="../logout">Back to login</a></li>
                </ul>
            </nav>
        </header>
        <main>
            <h2>Your response have been submitted successfully</h2>
        </main>
</body>
</html>
