<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Exams</title>
    <link rel="stylesheet" href="{% static 'style1.css' %}">
</head>
<body>
    <div class="container">
        <header>
            <h1>Online Examination System Management</h1>
            <nav>
                <ul>
                    <li><a href="admin">Panel</a></li>
                    <li><a href="leaderboard">Leaderboard</a></li>
                    <li><a href="logout">Log Out</a></li>
                </ul>
            </nav>
        </header>
        <main>
            <h2>Select a student to view their exam</h2>
            <ul>
            {% for student in students %}
                <li><a href="{% url 'view_student_exam' student.id %}">{{ student.Name }}</a></li>
            {% endfor %}
            </ul>
        </main>
    </div>
</body>
</html>